<main
  class="bg-slate-500 max-w-full h-full flex relative overflow-y-hidden p-4"
>
  <!-- Container -->
  <div class="flex flex-wrap space-x-4 md:space-x-8 m-4">
    <!-- Card -->
    <div
      *ngFor="let user of users"
      class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-lg md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 p-4 m-2"
    >
      <img
        class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
        [src]="user.image"
        alt=""
      />
      <div class="flex flex-col justify-between p-4 leading-normal">
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          {{ user.first_name }}
        </h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          {{ user.last_name }}
        </p>
      </div>
    </div>
  </div>
</main>
